header {
    text-align: center;
}

main{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

main img{
   display: none;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 5% 0;
    color: #373867;
}

form input{
    display: block;
    margin: 2% 0;
    color: #373867;
}

form a{
    font-size: 10px;
    color: darkslategray;
    font-weight: bold;
    margin: 2% 0;
}

form button{
    color: #ffff;
    margin: 2% 0;
    padding: 2%;
    background: #AACE9B;
    border-radius: 5px;
    border-color: #AACE9B;
    text-align: center;
    font-size: 15px;
}

form button:hover{
    background-color: #373867;
    color: #FFFFFF;
}

.input-error{
    border: 5px solid red;
    border-radius: 2px;
}

.input-success{
    border: 5px solid green;
    border-radius: 2px;
}


@media screen and (min-width: 768px){
    main img{
        display: flex;
        width: 30%;
        height: fit-content;
    }
}