footer{
    background-color:  #AACE9B;
}

#social-media ul{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

#social-media ul li a{
    color: #FFFFFF;
}

#social-media a:hover{
    color: #F13312;
    transition: 250ms;
}

#address-copy p{
    text-align: center;
}
