#who-we-are{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
#who-we-are p{
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
#who-we-are p{
    color: #373867;
    margin-bottom: 15px;
}
#who-we-are p:last-of-type{
    color: #49A37B;
}
/*why choose us section*/
#why-choose-us{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#why-choose-us article{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#why-choose-us article h3, p{
    padding: 2%;
}
/*

.left-article p{
    float: left;
    width: 650px;
    height: 284px;
    margin-left: 162px;
    margin-bottom: 220px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}
.right-img{ 
    position: absolute;
    margin-top: 220px;
    margin-right: 45px;
    margin-bottom: 220px;
    margin-left: 70px;
}
.right-article{
    box-sizing: border-box;
    background-color: #D9D9D9;
}
.right-article h3{
    float: right;
    width: 529px;
    height: 53px;
    margin-top: 247px;
    margin-right: 64px;
    margin-bottom: 64px;
}
.secondary-line-right{
    position: relative;
    left: 732px;
    top: 300px;
    width: 676px;
    height: 4px;
    background: #FFFFFF;
}
.right-article p{
    float: right;
    width: 530px;
    height: 330px;
    margin-right: 62px;
    margin-bottom: 146px;
    margin-left: 878px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}
.left-img{
    position: absolute;
    margin-top: 220px;
    margin-right: 146px;
    margin-bottom: 220px;
    margin-left: 162px;
}
#first-img{
    margin-top: 163px;
}
#leader-title{
    margin-top: 247px;
}
#leader-line{
    position: relative;
    width: 780px;
    height: 4px;
    left: 162px;
    top: 300px;
    background: #D9D9D9;
}

/*functionalities*/
#functionalities h3{
    text-align: center;
    margin:auto;
}
#functionalities h4{
    text-align: center;
    color: #49A37B;
}
#functionalities article p{
    display:flex;
    margin: auto;
    width: 80%;
    text-align: justify;

}
#functionalities article svg{
    width: 100%;
    align-items:center;
}
/*icons*/
svg:hover rect{
    stroke: #F13312;
}
svg:hover circle{
    stroke: #F13312;

}
svg:hover line{
    stroke: #F13312;
}
svg:hover path{
    stroke: #F13312;
}
#cash:hover{
    fill:#F13312;
}
/*contact*/ 
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
    color: #373867;
}
form p{
    text-align: center;
}
.form-container input {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #373867;
    border-radius: 4px;
}
#contact-message textarea{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-family: "roboto";
}
#contact-message ::placeholder{
    font-size: 13px;
    color: #373867;
    opacity: 0.5;
}
#contact-area {
    width: 100%;
    margin: 2% 0;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #373867;
    border-radius: 4px;
}
/*buttons*/
button{
    width: 100%;
    height: 5%;
    padding: 12px 20px;
    margin: 2% 0;
    background: #AACE9B;
    border-radius: 5px;
    border-color: #AACE9B;
    /*font*/
    text-align: center;
    font-size: 15px;
    color: #373867;
}
button:hover{
    background-color: #373867;
    color: #FFFFFF;
}
/*
    width: 117px;
    height: 48px;
    padding: 12px 20px;
    margin-top: 16px;
    margin-bottom: 54px;
    margin-left: 735px;
    background: #F13312;
    border-radius: 5px;
    border-color:  #F13312;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #373867;
    #reset:hover{
    background-color: #AACE9B;
}
}*/
/*final-section*/
#final-section{
    display: flex;
    justify-content: center;
    background-image: url(/semana-03/assets/images/list-picture.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #373867;
}
#final-section article{
    margin: 5%;
}
#final-section article h5{
    margin: 2%;
}
#final-section article ol li{
    list-style:decimal;
}



