#who-we-are{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
#who-we-are p{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
#who-we-are p{
    color: #373867;
    margin-bottom: 15px;
}
/*why choose us section*/
.left-article{
    display: flex;
    align-items: center;
}
.right-article{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
/*functionalities*/
#functionalities h3{
    text-align: center;
    margin:auto;
}
#functionalities h4{
    text-align: center;
}
#functionalities article p{
    display:flex;
    width: 80%;
    margin: auto;
    text-align: justify;
}
#functionalities article svg{
    width: 100%;
}
svg:hover rect{
    stroke: #F13312;
}
svg:hover circle{
    stroke: #F13312;

}
svg:hover line{
    stroke: #F13312;
}
svg:hover path{
    stroke: #F13312;
}
#cash:hover{
    fill:#F13312;
}
/*contact*/ 
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
    color: #373867;
}
form p{
    padding-bottom: 15px;
    text-align: center;
}
.form-container input {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #373867;
    border-radius: 4px;
}
#contact-message p{
    padding-bottom: 25px;
    text-align: left;
}
#contact-message textarea{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-family: "roboto";
}
#contact-message ::placeholder{
    font-size: 13px;
    color: #373867;
    opacity: 0.5;
}
#contact-area {
    width: 100%;
    margin: 2% 0;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #373867;
    border-radius: 4px;
}
button{ 
    height: 5%;
    margin: 2% 0;
    padding: 12px 20px;
    background: #AACE9B;
    border-radius: 5px;
    border-color: #AACE9B;
    text-align: center;
    font-size: 15px;
    color: #373867;
}
#reset{
    background: #F13312;
    border-color:#F13312;
}
#contact-buttons{
    display: flex;  
    justify-content: space-between;
}
button:hover{
    background-color: #373867;
    color: #FFFFFF;
}
#reset:hover{
    background-color: #373867;
    color: #FFFFFF;
}
/*final-section*/
#final-section{
    display: flex;
    justify-content: center;
    background-image: url(/semana-03/assets/images/list-picture.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #373867;
}
#final-section article{
    margin: 5%;
}
#final-section article h5{
    margin: 2%;
}
#final-section article ol li{
    list-style:decimal;
}



