body{
    font-family: "roboto";
}
h1{
    width: 199px;
    height: 47px;
    left: 205px;
    top: 170px;
    margin: 25% 0 0 22px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
}
h2{
    margin:5% 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}
h3{
    font-weight: 700;
    font-size: 2em;
    line-height: 47px;
    color: #000000;
}
h3:hover{
    color: #F13312;
    transition: 250ms;
}
h4{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
h4:hover{
    color: #F13312;
    transition: 250ms;
}
h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
    /* mobile */
@media (min-width:480px) {
    body{
        background-color: #49A37B;
    }
    body header{
        background-image: none;
    }
    main #who-we-are p:last-of-type{
        color: #FFFFFF;
    }
    main #why-choose-us {
        background-color: #FFFFFF;
    }
    main article img{
        display: none;
    }
    main #functionalities{
        background-color: #D9D9D9;
    }
}
/* tablet */
@media (min-width: 768px) {
    body header{
        background-image: url(/semana-02/assets/images/principal-page.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #rectangle-container{
        margin-left: 10%;
    }
    main #who-we-are p:last-of-type{
        color: #FFFFFF;
    }
    main #why-choose-us {
        background-color: #FFFFFF;
    }
    main #functionalities article{
        display:inline-block;
        margin: 2%;
        width: 45%;
    }
}
/* desktop */
@media (min-width: 1024px) {
    body{
        background-color: #FFFFFF;
    }
    body header{
        background-image: url(/semana-02/assets/images/principal-page.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body header #rectangle-container{
        margin-left: 20%;
    }
    body > footer, main{
        margin-left: 10%;
    }
    .line{
        width: 90%;
        height: 10px;
        margin-left: 5%;
        margin-bottom: 83px;
        background-color: #D9D9D9;
    }
    .secondary-line-left{
        width: 780px;
        height: 4px;
       margin-left: 15%;
        background: #286276;
    }
    .secondary-line-right{
        width: 676px;
        height: 4px;
        background: #FFFFFF;
    }
    main #who-we-are p:last-of-type{
        color: #49A37B;
    }
    main article img{
        display: flex;
    }
    main #why-choose-us article{
        height: 840px;
    }
    main #functionalities{
        max-width: 90%;
        background-color:#FFFFFF;     
    }
    main #functionalities article{
        display: inline-flex;
        flex-direction: row-reverse;
    }
    main #functionalities article div{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
    }
    /*contact*/
    #contact form {

    }
    #contact form .form-container{
        display:flex;
        align-items: center;
        }
    #contact form .form-container input{
        margin: 2%;
    }
    #contact .form-container input[name=email]{
        width: 46%;
    }
    }
/*contact .form-container{
        display: flex;
        max-width: 30%;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 15%;
        background-color: #F13312;
    }
    #contact .form-container input{
        
    }*/
