.final-section{
    background-image: url(/semana-02/assets/images/list-picture.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #373867;
}
.final-section article{
    display: inline-block;
    margin-top: 63px;
}
.final-section article h5{
    margin-bottom: 25px;
}
.final-section article ol li{
    list-style:decimal;
}
#products{
    margin-bottom: 74px;
    margin-left: 474px;
}
#enterprise{
    margin-left: 137px;
}
#support{
    margin-left: 137px;
}
/*social media section*/
footer{
    background-color:  #AACE9B;;
}
#social-media ul li{
    display: inline-block;
    padding: 35px 25px;
}
#social-media ul li a{
    color: #FFFFFF;
}
#social-media a:hover{
    color: #F13312;
    transition: 250ms;
}
#social-media ul li:first-child{
    margin-left: 561px;
}
#address-copy p{
    padding-bottom: 27px;
    text-align: center;
    font-weight: 400;
}
