#functionalities article{
    display: inline-block;
    width: 42%;
}
#functionalities h3{
    margin-top: 88px;
    margin-bottom: 13px;
    margin-left: 22.58px;
    pointer-events:none;
    text-align: center;
}
#functionalities article h4{
    margin-top: 88px;
    margin-left: 310px;
}
#functionalities article p{
    margin-top: 12px;
    margin-left: 310px;
}
#functionalities article img{
    position: relative;
    top: -150px;
    left: 150px;
}
#functionalities article img:hover{
    transform: scale(1.2);
    transition: 250ms;  
}
