#functionalities article{
    display: inline-block;
    width: 42%;
}
#functionalities h3{
    margin-top: 88px;
    margin-bottom: 13px;
    margin-left: 22.58px;
    pointer-events:none;
    text-align: center;
}
#functionalities article h4{
    margin-top: 88px;
    margin-left: 310px;
}
#functionalities article p{
    margin-top: 12px;
    margin-left: 310px;
}
#functionalities article svg{
    position: relative;
    top: -150px;
    left: 150px;
}
svg:hover rect{
    stroke: #F13312;
}

.cash:hover{
    stroke: #F13312;
    fill: #F13312;
}
svg:hover circle{
    stroke: #F13312;
}
svg:hover line{
    stroke: #F13312;
}
svg:hover path{
    stroke: #F13312;
}
#cash:hover{
    fill:#F13312;
}
