.article-funct-1{
    margin-top: 88px;
    margin-left: 150px;
    margin-bottom: 118.58px;
}
.article-funct-1 h4 {
    margin-top: 88px;
    margin-right: 125px;
    margin-bottom: 13px;
    margin-left: 22.58px;
}
.article-funct-3{
    margin-left: 150px;
    margin-bottom: 54.58px;
}
#functionalities article{
    display: inline-block;
    width: 42%;
}
#functionalities article img{
    
    float: left;
    background-color: blueviolet;
}
#functionalities article h4 p{
   float: right;
   
}

#functionalities h3{
    text-align: center;
    margin-top: 27px;
    height: 57px;
    left: 105px;
    top: 27px;
}


