#principal{
    background-image: url(/semana-02/assets/images/principal-page.png);
    background-position: center center;
    background-repeat: no-repeat;
}
#principal{
    margin-left: 152px;
    padding-bottom: 982px;
}
#principal-text{
    position: absolute;
    left: 183px;
    top: 0px;
    width: 481px;
    height: 982px;
    margin-left: 121px;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
#header-line{
    width: 452px;
    height: 2px;
    margin-left: 22px;
    background-color:  #AACE9B;
}
#principal-text h2{
    width: 314px;
    height: 23px;
    margin-top: 17px;
    margin-left: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.paragraph{
    width: 366px;
    height: 281px;
    margin-top: 98px;
    margin-left: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
}
/*Who whe are section*/
#who-we-are{
    margin-top: 100px;
}
#para-who-1{
    margin-left: 209px;
    margin-right: 55px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #373867;
}
#para-who-2{
    text-align: center;
    margin-left: 209px;
    margin-right: 55px;
    margin-bottom: 131px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #49A37B;
}