#why-choose-us .right-article{
    background-color: #D9D9D9;
}
.left-article{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    color: #000000;
}
.secondary-line-left{
    position: relative;
    width: 780px;
    height: 4px;
    left: 162px;
    top: 240px;
    background: #286276;
}
.right-article{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: #D9D9D9;
}
.secondary-line-right{
    position: relative;
    width: 676px;
    height: 4px;
    left: 732px;
    top: 300px;
    background: #FFFFFF;
}
.left-article h3{
    width: 700px;
    height: 53px;
    margin-left: 162px;
    margin-top: 190px;
    margin-bottom: 64px;
    float: left;
}
.left-article p{
    width: 650px;
    height: 284px;
    margin-left: 162px;
    margin-bottom: 540px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    float: left;
}
.right-img{ 
    position: absolute;
    margin-top: 220px;
    margin-right: 45px;
    margin-bottom: 220px;
    margin-left: 70px;
}
.right-article h3{
    width: 529px;
    height: 53px;
    margin-top: 247px;
    margin-left: 878px;
    margin-right: 33px;
    margin-bottom: 64px;
    float: right;
}
.right-article p{
    width: 530px;
    height: 330px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin-left: 878px;
    margin-right: 32px;
    margin-bottom: 146px;
    float: right;
}
.left-img{
    position: absolute;
    margin-top: 220px;
    margin-left: 162px;
    margin-bottom: 220px;
    margin-right: 146px;
   
}
#first-img{
    margin-top: 163px;
}
#leader-title{
    margin-top: 247px;
}
#leader-line{
    position: relative;
    width: 780px;
    height: 4px;
    left: 162px;
    top: 300px;
    background: #D9D9D9;
}
